<section class="card">
  <a href="/homepage/{{id}}">
    <h1>{{post_title}}</h1>
    <h3>{{date_created}}</h3>
    {{#if logged_in}}
    <h2>{{creator_username}}</h2>
    <p>{{contents}}</p>
    <form class="comment-form">
        <div>
            <label for="Comment">Comment:</label>
            <input class="form-input" type="text" id="comment" />
        </div>
        <div>
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </form>
    {{/if}}
  </a>
</section>
