<section class="card">
    <h1>{{blog.post_title}}</h1>
    <p>{{blog.contents}}</p>
    <p>Created By: {{blog.creator_username}}</p>
    <p>Date Created: {{blog.date_created}}</p>
    {{#if comments}}
        {{#each comments}}
            <div class="comment">
                <p>Username: {{creator_username}}</p>
                <p>Posted: {{date_created}}</p>
                <p>{{content}}</p>
            </div>
        {{/each}}
    {{else}}
    <p>No comments yet.</p>
    {{/if}}
    <form class="comment-form">
        <div>
            <label for="Comment">Comment:</label>
            <input class="form-input" type="text" id="comment" />
        </div>
        <div>
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </form>
</section>

<script src="/js/commentForm.js"></script>